In [4]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [10]:
df = pd.read_csv('C:\\Users\\blind\\OneDrive\\Documents\\GitHub\\home_credit_local\\NaN_stats.csv', header=None)

In [11]:
df.head()

           0          1         2                              3
0          0    7633295  0.000000                 train_base.csv
1   49311059  159395044  0.309364         train_applprev_1_0.csv
2   34503185  108170095  0.318972         train_applprev_1_1.csv
3   16236709   84452922  0.192258           train_applprev_2.csv
4  244050042  324548748  0.751967  train_credit_bureau_a_1_0.csv

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       32 non-null     int64
 1   1       32 non-null     int64
 2   2       32 non-null     float64
 3   3       32 non-null     object
dtypes: float64(1), int64(2), object(1)
memory usage: 1.1+ KB

In [17]:
df[0].sum()

2330082388

In [18]:
df[1].sum()

5712989129

In [19]:
df[0].sum()/df[1].sum()

0.4078569616336478